MONGO_URI=mongodb+srv://Ayaan:waniAyaan786@smartq.dnjyeih.mongodb.net/
MONGO_DB_NAME=SmartQ

NEO4J_URI=neo4j+s://08edbceb.databases.neo4j.io
NEO4J_USER=08edbceb
NEO4J_PASSWORD=TKoG3evKm2KD9bXK8TwN3NrppyqWyBC1Gn65dhw0U34
NEO4J_DATABASE=08edbceb
AURA_INSTANCEID=08edbceb
AURA_INSTANCENAME=Free instance

SMARTQ_FRONTEND_URL=https://smartq.quest/home
